<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>A simple page builder app by @stefan@stefanbohacek.online</title>
<meta property="og:title" content="A simple page builder app by @stefan@stefanbohacek.online" />
<meta name="twitter:title" content="A simple page builder app by @stefan@stefanbohacek.online" />
<meta name="description" content="Design your own personal page and find tools to host it for free." />
<meta property="og:description" content="Design your own personal page and find tools to host it for free." />
<meta name="twitter:description" content="Design your own personal page and find tools to host it for free." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://stefanbohacek.com" />
<meta property="og:image" content="/images/thumbnail.png" /> 
<meta property="og:image:alt" content="A screenshot of the A simple page builder app app." /> 
<meta property="twitter:image:src" content="/images/thumbnail.png" /> 
<meta property="twitter:image:alt" content="A screenshot of the A simple page builder app app." /> 
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@stefanbohacek" />
<meta name="twitter:domain" content="https://stefanbohacek.com/" />
<!-- TODO: Favicons -->
<!-- <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9"> -->
