<!doctype html>
<html lang="en" class="h-100">
<head>
    {{> meta }}
    <link href="css/app.css" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0;">
    {{{body}}}
    <script type="module" src="js/app.js" async></script>
    {{> matomo }}
</body>
</html>
