<div class="container">
  <div class="p-5 mb-5 text-center bg-body-tertiary rounded-3">
    <h1 class="mt-0 mb-3 text-body-emphasis">
      <a href="/"
        class="text-decoration-none">A simple page builder app ✨</a>
    </h1>
  </div>

  <p class="lead">Page not found.</p>


  <p class="mt-5">
    <a href="/"
      class="d-inline-flex align-items-center btn btn-dark btn-lg px-4 rounded-pill">
      Go back
    </a>
  </p>
</div>