<div id="gjs" class="w-100 h-100"></div>
<link href="/libs/grapesjs/0.21.9/grapes.min.css" rel="stylesheet">
<script src="/libs/grapesjs/0.21.9/grapes.min.js"></script>
<script src="/libs/grapesjs/presets/grapesjs-preset-webpage/1.0.2/index.js"></script>
<script src="/libs/grapesjs/blocks/grapesjs-blocks-basic/1.0.2/index.js"></script>
<script src="/libs/grapesjs/blocks/grapesjs-custom-code/1.0.2/index.js"></script>
<script src="/libs/grapesjs/plugins/grapesjs-plugin-export/1.0.12/index.js"></script>
<script src="/libs/grapesjs/plugins/grapesjs-touch/0.1.1/grapesjs-touch.min.js"></script>
