---
title: App
---

<!doctype html>
<html lang="en" class="h-100">
  <head>
    {% include "partial-meta.njk" %}
    <link href="/css/app.css" rel="stylesheet">
  </head>
  <body style="margin: 0; padding: 0;">
    {{ content | safe }}
    <div id="gjs" class="w-100 h-100"></div>
    <link href="/libs/grapesjs/0.21.9/grapes.min.css" rel="stylesheet">
    <link href="/libs/tourguide-js/0.0.9/css/tour.min.css" rel="stylesheet">
    <script src="/libs/grapesjs/0.21.9/grapes.min.js"></script>
    <script src="/libs/grapesjs/presets/grapesjs-preset-webpage/1.0.2/index.js"></script>
    <script src="/libs/grapesjs/blocks/grapesjs-blocks-basic/1.0.2/index.js"></script>
    <script src="/libs/grapesjs/blocks/grapesjs-custom-code/1.0.2/index.js"></script>
    <script src="/libs/grapesjs/plugins/grapesjs-plugin-header/1.0.2/index.js"></script>
    <script src="/libs/grapesjs/plugins/grapesjs-plugin-export/1.0.12/index.js"></script>
    <script src="/libs/grapesjs/plugins/grapesjs-touch/0.1.1/grapesjs-touch.min.js"></script>
    <script src="/libs/tourguide-js/0.0.9/tour.js"></script>
    <script src="/libs/js-beautify/1.15.1/beautify-html.min.js"></script>
    <script type="module" src="/js/app.js" async></script>
    {% include "partial-matomo.njk" %}
  </body>
</html>